/* 100% del ancho de la ventana del navegador */
/* Color Negro */
/* Color Gris Obscuro */
/* Color Blanco */
* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  vertical-align: top;
  font-family: arial, sans-serif;
  font-size: 1.5em;
  margin: auto;
  background-color: #F1F1F1;
  color: #1D1D1D; }
  body header div#bar {
    background-color: #333333;
    padding: 0.5em;
    color: #fff;
    position: relative;
    text-align: justify;
    font-size: 1em; }
    body header div#bar button {
      margin-top: 0.2em;
      margin-left: 0.2em;
      background-color: #2a2a2a;
      border-color: #2a2a2a;
      border-radius: 4px;
      box-shadow: none;
      position: relative;
      float: left; }
    body header div#bar a {
      color: #fff;
      text-decoration: none;
      position: relative;
      float: right;
      padding: 0.3em;
      padding: 0.3em;
      margin-right: 3em; }
  body header div#bar2 {
    background-color: #fff;
    padding: 0.5em;
    color: #000;
    position: relative;
    text-align: justify;
    font-size: 1em; }
    body header div#bar2 li {
      position: relative;
      float: left; }
      body header div#bar2 li button {
        background-color: #2a2a2a;
        border-radius: 4px; }
      body header div#bar2 li a {
        font-size: 1em;
        color: #000;
        position: relative;
        float: left;
        padding: 0.3em;
        margin-right: 0.8em;
        list-style-type: none; }
  body container ul {
    background-color: #F1F1F1; }
    body container ul li {
      position: relative;
      float: left; }
      body container ul li button {
        position: relative;
        float: left;
        margin-top: 0.5em;
        background-color: #fff;
        border: 1px solid #c1bbc2;
        border-radius: 4px;
        font-weight: bold; }
  body container div div.linea {
    background-color: #398439;
    height: 10px; }
  body container div img {
    position: relative;
    float: left;
    width: 90px;
    margin-left: 30px; }
  body container div h1 {
    position: relative;
    float: left;
    font-size: 32px;
    color: #398439;
    font-weight: bold; }
  body container div p {
    position: absolute;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 12px;
    color: #555555; }
  body container div div.input-group {
    position: relative;
    float: right;
    width: 250px;
    margin-right: 90px;
    margin-top: 20px; }
  body container div div hr {
    background-color: #2a2a2a;
    height: 1px;
    width: 100%; }
  body container div.date p {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px; }
  body container div.date div.day {
    position: relative;
    float: left;
    margin-left: 40px; }
  body container div.date div.year {
    position: relative;
    float: left;
    margin-left: 40px; }
  body container div.date div.month {
    position: relative;
    float: left;
    width: auto;
    margin-left: 40px; }
    body container div.date div.month p {
      position: relative;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 0px; }
  body container div div hr {
    background-color: #2a2a2a;
    height: 1px; }
  body container div.Tit-sec {
    position: relative;
    float: left; }
    body container div.Tit-sec h2 {
      position: relative;
      float: left;
      font-size: 20px;
      color: #398439; }
    body container div.Tit-sec p {
      position: relative;
      float: right;
      color: #555555;
      margin-top: -20px; }
  body container div div.col2 {
    width: 25%;
    font-weight: bold;
    color: #000000; }
  body container div div.col1 {
    width: 15%;
    font-weight: bold;
    color: #9c0033; }
